@charset "UTF-8";
%base-font-falmily {
  font-family: PingFangSC-Regular, "Microsoft Yahei", 宋体, Tahoma, Verdana, sans-serif, simsun, Arial;
}

@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @include clearfix();
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.breakword {
  word-wrap: break-word;
  word-break: break-all;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 16px;
  @extend %base-font-falmily;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
}

body {
  @include clearfix();
}

textarea,
input,
select {
  vertical-align: middle;
  resize: none;
  outline: none;
}

input::-ms-clear {
  display: none;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

.font14 {
  font-size: 14px;
}

.font12 {
  font-size: 12px;
}

// 垂直居中
.vc {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

// 水平居中
.hc {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

// 垂直水平居中
.vhc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 单行文本溢出变省略号
.text-overflow-single {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行文本溢出变省略号
.text-overflow-multi {
  position: relative;
  word-break: break-all;
  overflow: hidden;
  &::after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    text-align: right;
    background: linear-gradient(to right, transparent, #fff 55%);
  }
}

.my-table {
  table-layout: fixed;
  width: 100%;
  /deep/ .cell {
    font-weight: normal;
    color: #333;
    font-size: 14px;
    // 用于文字溢出变省略号，参考 pages/console/data/data.vue
    div, p {
      font-weight: normal;
      color: #333;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  /deep/ th > .cell {
    color: rgba(51, 51, 51, .5);
  }
}

.my-markdown-editor {
  .v-note-panel {
    box-shadow: none !important;
    .v-show-content {
      background-color: transparent !important;
    }
  }
}

// b_to_t1 从下向上20px；b_to_t2 从下向上20px*2 类推
@for $i from 1 to 5 {
  @keyframes b_to_t#{$i} {
    0% {
      opacity: 0;
      // transform: translate3d(0, #{$i * 20px}, 0);
      margin-top: #{$i * 20px};
    }
    100% {
      opacity: 1;
      // transform: translate3d(0, 0, 0);
      margin-top: 0;
    }
  }
}

@keyframes banner {
  0% {
    opacity: 0;
    margin-top: 40px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.container-wrapper {
  min-height: 100%;
}

.wrap {
  width: 1180px;
  margin: auto;
}

.cars-bg {
  background-color: #f7f7f8;
}

.danger {
  color: #ff5656;
}

// 顶部导航二级菜单样式
.elNavSubMenu {
  background-color: #fff;
  box-shadow:0px 4px 12px 0px rgba(0,0,0,0.1);
  overflow: hidden;
  min-width: 20px;

  /deep/ {
    ul {
      min-width: 20px;
      li {
        font-size: 12px;
        color: #666;
      padding: 0 20px !important;

        &.is-active {
          color: #4475FD !important;
        }
      }
    }
  }
  &.sub-products {
    transform: translateX(-10px);
  }
  &.sub-solutions {
    transform: translateX(7px);
  }
}

// 物流页面banner 文字单独样式
.logistic .banner .txt-box {
  left: 50%;
  text-align: right;
}